<!-- <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"siteId":1229376,"cookiePolicyId":37879840,"lang":"it","storage":{"useSiteId":true}};
    </script>
    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/1229376.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async>
</script> -->
<link rel="me" href="https://mastodon.uno/@riccardocorna">
<link rel="me" href="https://mastodon.uno/@itspecialistcloud">
<link rel="me" href="https://infosec.exchange/@itspecialistcloud">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">